{{#if username}}
  <a href="#user/account">
    {{#if profile}}
      {{#with profile}}
        {{#and image image.url}}
          <div class="img" style="background-image:url({{ image.url }})"></div>
        {{else}}
          <div class="img" style="background-image:url({{ avatar }})"></div>
        {{/and}}
      {{/with}}
    {{/if}}
    <em>{{ username }}</em>
  </a>
{{/if}}
