<div class="form-group">
  <label for="email" class="control-label">
    {{t "UserModel::email"}}
  </label>
  <div>
    <div class="input-group">
      <span class="input-group-addon" id="email-addon">
        <i class="icon icon-envelope"></i>
      </span>
      <input type="text" class="form-control" id="email" name="email" aria-describedby="email-addon" placeholder="{{t "UserModel::email"}}">
    </div>
    <span class="help-block hidden"></span>
  </div>
</div>
