<header id="moduleHeader">
  <h1>{{t moduleName }}</h1>
</header>

<div class="sectionContainer">

  <div class="blankslate large-format">
    <i class="icon icon-meh-o"></i>
    <h3>Ooops...</h3>
    <p>Module not implemented</p>
  </div>

</div>
