/**
 * # Mosaiqo frontend - widgets
 *
 * Breadcrumbs block
 * Shows the current section and its parents
 */

.breadcrumb
  margin: 0 0 20px
  background-color: $appTheme['bgColorLight2']
  subtleVolume()

// Media queries
// ---------------------------------------------
@media screen and (max-width: 600px)
  .breadcrumb
    display: none
