.form-actions
  margin: 15px 0
  overflow: auto

#form-content-region .sectionContainer
  padding: 2px

.form-image-field
  overflow: auto

  img
    margin: 10px 20px 10px 0
    max-width: 300px
    border-radius: 3px
    box-shadow: 0 1px 2px rgba(0,0,0,.3)

.control-label-extra
  float: right
  font-size: smaller
