/**
 * # Mosaiqo frontend - widgets
 */


@require 'breadcrumbs'
@require 'moduleNavigation'
@require 'userWidget'
@require 'languageSwitcher'
@require 'headerNav'
@require 'forms'
@require 'locales'
@require 'editor'
@require 'stats'
@require 'tagCloud'
@require 'infiniteScrolling'
@require 'uploads'


// wrapper for the views displayed when deleting or validating
// see loaders.stylus for the inner animation
[data-wrapper].opacity
  opacity: 0.6
