/**
 * # Mosaiqo frontend - widgets
 */


@require 'breadcrumbs'
@require 'moduleNavigation'
@require 'userWidget'
@require 'languageSwitcher'
@require 'headerNav'
@require 'forms'
@require 'locales'
@require 'editor'
@require 'stats'
@require 'tagCloud'
@require 'infiniteScrolling'
@require 'uploads'
@require 'timeline'
@require 'labels'


// wrapper for the views displayed when deleting or validating
// see loaders.stylus for the inner animation
[data-wrapper].opacity
  opacity: 0.6

// Override for the bootstrap modals:
// add a stronger shadow to make the modals
// more distinguisheable when displaying
// multiple modals at the same time
.modal-content
  box-shadow: 0 0 20px rgba(0,0,0,.4) !important
