/**
 * # Mosaiqo frontend - widgets
 *
 * User widget with profile liks and other stuff
 */
.userWidget
  position: relative

  img
    width: 36px
    border-radius: 18px
    margin-right: 5px

  a
    text-decoration: none

  .toggler
    font-size: 12px !important
    color: #fff !important
    margin-left: 5px
