/**
 * # Mosaiqo frontend - widgets
 *
 * User widget with profile liks and other stuff
 */
#userWidgetContainer
  margin-right: 15px
  position: relative
  top: -3px

.userWidget
  .img
    display: inline-block
    width:  34px
    height: 34px
    float: left
    border-radius: 50%
    margin-right: 5px
    background-repeat: no-repeat
    background-position: center center
    background-size: cover

  em
    line-height: 34px

  a
    text-decoration: none
