/**
 * # Mosaiqo frontend - widgets
 *
 * User widget with profile liks and other stuff
 */
#userWidgetContainer
  margin-right: 15px
  position: relative
  top: -3px

.userWidget
  img
    width: 36px
    border-radius: 18px
    margin-right: 5px

  a
    text-decoration: none
