<header id="moduleHeader">
  <h1>
    {{t "kb::Knowledge Base"}}
  </h1>

  <ol class="breadcrumb arrow">
    <li>
      <span>
        <i class="icon icon-home"></i>
        {{t "kb::Knowledge Base"}}
      </span>
    </li>
  </ol>
</header>

<div class="blocks row"></div>
