/**
 * # Mosaiqo frontend - header
 */

#globalHeader
  position: relative
  height: 160px
  padding-left: 17px
  background: #adadad url(../images/backgrounds/header/header.jpg) no-repeat
  background-size: cover

  &, a
    color: $appTheme['textColorDark']


  // logo
  h1
    margin: 5px 20px

    a
      accessibleHidden()
      width: 133px
      height: 40px
      background: url(../images/logos/logo133x40.png) no-repeat


  // widgets
  .regions
    float: right
    margin: 12px 20px 0

  .widgetContainer
    display: inline-block



  // links
  .icon // icon
    font-size: 22px
    color: #777
    transition: color 300ms

    &:hover
      color: $appTheme['textColorDark']

  a
    text-decoration: none

    span // text
      accessibleHiddenInline()


// layout collapsing button
#globalNavToggler
  position: absolute
  top: 15px
  left: 8px


// show/hide the logo and layout collapsing button on auth events
#globalHeader h1, #globalNavToggler
  display: inline-block



@media screen and (max-width: 600px)
  #globalHeader
    z-index: 130
    h1 a
      collapsedLogo()

@media screen and (max-width: 400px)
  #globalHeader .regions
    margin-left: 0
    margin-right: 0

  #globalNavToggler
    left: 10px




// helpdesk header
#helpDeskHead
  position: absolute
  left: 0
  right: 0
  bottom: 0
  background-color: rgba(0,0,0,.5)

  .inner
    max-width: 1200px
    padding: 0 20px
    margin: 0 auto
    display: flex

  h1
    display: block
    margin: 0 0 .2em
    font-size: 1.5em

#searchContainer
  flex: 1
  padding-top:    20px
  padding-bottom: 20px

#sectionsNav
  display: flex
  align-items: center
  border-left: solid 1px rgba(255,255,255,.5)

  .icon
    margin-right: 0.2em
    font-size: 1.3em
    color: #fff !important

  ul
    list-style: none
    padding-left: 0
    margin: 0

@media screen and (max-width: 600px)
  #helpDeskHead .inner
    display: block

  #searchContainer
    padding-top:    10px
    padding-bottom: 10px

    h1
      font-size: 1.3em

  #sectionsNav
    display: block
    border-left: none

    ul
      text-align: center

    li
      display: inline-block
      margin: 0 5px


@media screen and (max-width: 480px)
  #globalHeader
    height: 170px
    padding-left: 4px

    h1, .regions
      margin-left:  0
      margin-right: 0

    .regions
      position: absolute
      top: 0;
      right: 0;

    .icon
      color: #fff

  #helpDeskHead
    background-color: rgba(0,0,0,.6)
