<li>
  <a href="#help">
    <i class="icon icon-question-circle"></i>
    <span>
      {{t "Help"}}
    </span>
  </a>
</li>
<li>
  <a href="#logout">
    <i class="icon icon-power-off"></i>
    <span>
      {{t "Logout"}}
    </span>
  </a>
</li>
