<header id="moduleHeader"></header>

<div id="moduleContent">

  <nav id="moduleItems">
    <div class="outer"></div>
    <button id="moduleItemsToggler"><i class="icon"></i></button>
  </nav>

  <div id="contentEditArea"></div>

</div>
