/**
 * # Mosaiqo frontend - config
 */

// ## Vars

// theme colors
$appTheme = {
  // logo colors, might be used on decorative elements or something
  logoGray   : #e4e2d6
  logoBlue   : #30b5e5
  logoGreen  : #ccd42e
  logoRed    : #c63222
  logoOrange : #e55f21
  logoPink   : #e84667

  // text color
  textColorLight : #444
  textColorDark  : #fff

  // background colors
  bgColorLight  : #f1f2f6
  bgColorLight2 : #fff
  bgColorDark   : #444
  bgColorDark2  : #aaa

  // highlight colors (for anchors, buttons, etc)
  textColorHighlightLight : #444
  bgColorHighlightLight   : #e4e2d4
  bgColorHighlightLight2  : #ffffe2

  textColorHighlightDark  : #fff
  bgColorHighlightDark    : #00b5eb

  // muted colors (for disabled stuff, or to make something more subtile)
  mutedLight : #666
  mutedDark  : #ccc

  // other
  linkColor: #428bca
}
