/**
 * # Mosaiqo frontend - Bootstrap theme
 */

// Bower packages directory
$vendorPath = '../../dist/assets/vendor/'

// Overrides
$fontsPath         = '../fonts/'
$import-glyphicons = false

@import $vendorPath + 'kaleidoscope/src/index.styl'
