---
layout:      basic.hbs
title:       Loading animation demo
---

<div class="loadingOverlay">

  <div class="loadingAnimation">
    <p>
      Loading
        <span>.</span>
        <span>.</span>
        <span>.</span>
    </p>
  </div>

</div>
