// Knowledge base specific styles
// ---------------------------------------------

.articles
  list-style: none
  margin: 0
  padding: 0 20px 0 0


.articleListItem
.article .main
  header
    h1, h3
      &:before
        content: "\f016"
        font-family: FontAwesome
        margin: 0 8px 0 5px
        color: #aaa


.articles-parent-description
  color: #999
  padding: 0 20px 10px
  border-bottom: dashed 1px #ccc
  margin-bottom: 20px
  font-size: .9em


.category-articles li
.related-articles li,
  padding-left: 11px

  &:before
    position: absolute
    left: -10px
    top: 2px
    content: "\f016"
    font-family: FontAwesome
    margin: 0 5px
    color: #ccc


.kbDashboard
  .row
    margin-bottom: 20px

  .block
    margin-bottom: 30px

  .block-title
    padding: 10px
    margin-bottom: 10px
    border-bottom: solid 1px #ddd

    h3
      margin: 0
      font-size: 1.2em

    h3, h3 a
      color: #aaa

  .block-content
    position: relative
    min-height: 200px
    padding: 10px 10px 0

  .actions
    position: absolute
    bottom: 0

  .category-articles
    margin-left: 15px

    li
      padding-left: 14px

      a
        color: #666

      a:hover
        color: #30b5e5


@media screen and (max-width: 760px)
  .kbDashboard .block-content
    min-height: 0px
    padding-bottom: 30px
