.login
  width: 380px
  margin: 50px auto 0
  padding: 160px 40px 40px
  border: solid 1px #2F2F2F
  border-radius: 4px

  background: rgba(0,0,0,.8) url(../images/logos/logo300x91.png) no-repeat center 40px
  box-shadow: 0 0 15px rgba(255,255,255,.1)


  .form-group
    width: 90%
    margin: 0 auto 15px


  label
    color: $appTheme['textColorDark']



@media screen and (max-width: 400px)
  .login
    width: 100%
    border: none
    box-shadow: none
