<i class="icon icon-globe" id="languageSwitcherToggler"></i>
<select id="languageSwitcher">
  {{#each items}}
    <option value="{{lang}}">{{label}}</option>
  {{/each}}
</select>


{{!-- languageSwitcherContainer --}}
