<h1>
  <a href="#">MosaiqoCMS</a>
</h1>


<a id="globalNavToggler" href="#">
  <i class="icon icon-bars"></i>
  <span>
    {{t "Expand/collapse menu"}}
  </span>
</a>


<div class="regions">
  <div class="widgetContainer" id="userWidgetContainer"></div>
  <div class="widgetContainer" id="languageSwitcherContainer"></div>
  <div class="widgetContainer" id="headerNavContainer"></div>
</div>
