<!DOCTYPE html>

<!-- @ifndef APP_LANG -->
<html lang="en">
<!-- @endif -->

<!-- @ifdef APP_LANG -->
<html lang="<!-- @echo APP_LANG -->">
<!-- @endif -->

<head>
  {{> head }}
</head>
<body>
  {{> scripts-lib }}
  {{> body }}
</body>
</html>
