<!DOCTYPE html>

<!-- @if NODE_ENV == 'DEVELOPMENT' -->
<html lang="en">
<!-- @endif -->

<!-- @if NODE_ENV == 'PRODUCTION' -->
<html lang="en" manifest="manifest.appcache">
<!-- @endif -->

<head>
  {{> head }}
</head>
<body>
  {{> body }}

  {{> signature }}

</body>
</html>
