<h1>{{t "how can i help you?"}}</h1>
<div class="input-group">
  <input type="text" class="form-control" name="query" placeholder="{{t "Search for..."}}">
  <span class="input-group-btn">
    <button class="btn btn-primary" type="submit">{{t "Search"}}</button>
  </span>
</div>
