/**
 * # Mosaiqo frontend - mixins
 */

accessibleHidden()
  display: inline-block
  overflow: hidden
  text-indent: -99em

accessibleHiddenInline()
  display: inline-block
  overflow: hidden
  width: 0
  height: 0

subtleVolume()
  box-shadow: inset 1px 1px 1px rgba(0,0,0,.15);
  border-radius: 2px
